header {
  background-color: black;
  margin: 0;
  color: white;

  h1 {
    margin: 0;
    padding: 3%;
    font-weight: lighter;
  }
  .login {
    float: right;
    margin-top: 3%;
    margin-right: 3%;
    font-size: small;

    #logout {
      color: white;
      font-weight: lighter;
      text-decoration: none;
      display: inline-block;
      background-color: rgba(62,88,164,1);
      padding: 2.6%;
      width: 70px;
      text-align: center;
      border-radius: 2px;
      position: relative;
      bottom: 3px;
      font-size: small;
    }
  }
}
