#status {
  background-color: $fadedBlack;
  font-weight: lighter;
  text-align: center;
  margin: 0;
  padding: 1%;
  font-size: small;
  color: white;
}

main {

  margin-top: 10px;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 10px;

  div.post:hover {
    box-shadow: 0px 0px 20px white;
  }

  .post {
    padding: 3%;
    margin-top: 10px;
    background-color: $fadedWhite;
    border-radius: 3px;
    height: auto;
    transition:0.2s linear all;

    i {
      float: right;
      display: inline-block;
      font-size: x-large;
      margin-left: 3%;
    }

    h2, h3, h4, h5, p {
      margin: 0;
      padding: 0;
    }
  }
  .collapsed {

    .collapsed-header {
      font-size: medium;
      display: inline-block;
    }

    .collapsed-time {
      font-size: medium;
      float: right;
      display: inline-block;
    }

    .collapsed-hidden {
      display: none;
    }
  }

  .dates {
    h3 {
      color: white;
      text-align: center;
    }

    form {
      width: 300px;
      margin: 0 auto;

      label {
        display: block;
        text-align: center;
        color: white;
      }

      input[type="date"] {
        width: 100%;
        text-align: center;
        padding: 5px;
        border: none;
        font-size: large;
        border-radius: 3px;
      }

      .formrow {
        margin-bottom: 2%;
      }
    }
  }

}
