<!DOCTYPE html>
<html ng-app="journio">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Journ.io</title>
    <link rel="stylesheet" href="css/manifest.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <script src="http://connect.facebook.net/en_US/all.js"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js'></script>
    <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <script type="text/javascript" src="js/filters.js"></script>
    <script type="text/javascript" src="js/factories.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
    $('.datepicker').each(function () {
      $(this).datepicker({
        changeMonth: true,
        changeYear: true,
        showOn: 'button',
        buttonImage: 'jquery/images/calendar.gif',
        buttonImageOnly: true
      });
    });
    </script>
  </head>
  <body ng-controller="EventsController">
    <video autoplay loop poster="/images/tetons-static.jpg" id="bgvid">
        <source src="/images/tetons.webm" type="video/webm">
    </video>
    <div id="fb-root"></div>
    <script src="js/fbinit.js"></script>

    <header>
      <div class="login">
        <fb:login-button
          scope="public_profile,email"
          onlogin="checkLoginState();"
          autologoutlink="true">
        </fb:login-button>
      </div>
      <h1>Journio  <i class="ion-happy"></i></h1>
    </header>
    <div id="status"></div>

      <!-- <div style="background: red; padding: 5px;">
        <h4 style="color: white;">
          <strong><em>CURRENT OBJECTIVE:  Split descriptions into proper
            formatting.</em></strong></h4>
      </div> -->

    <main>
      <div class='dates'>
        <form action="/">
          <h3 id="dateheader">I'm traveling...</h3>
          <div class="formrow">
            <label for="dateFrom">From:</label>
              <input
                type="date"
                name="dateFrom"
                ng-model="dateFrom"
                class="datepicker"
                ng-change="parseDateFrom(dateFrom)"
                id="date_1">
          </div>
          <div class="formrow">
            <label for="dateTo">To:</label>
              <input
                type="date"
                name="dateTo"
                ng-model="dateTo"
                class="datepicker"
                ng-change="parseDateTo(dateTo)"
                id='date_2'>
          </div>
        </form>
      </div>
      <div
            class="post collapsed"
            ng-repeat="e in FBevents | dateFilter:this | orderBy: 'start_time'"
            ng-class="{true: 'collapsed', false: 'collapsed-false'}[collapsed]">
        <i ng-click="collapsed = !collapsed" class="ion-arrow-down-b" ng-class="{true: 'ion-arrow-down-b', false: 'ion-arrow-up-b'}[collapsed]"></i>
        <h2 ng-class="{true: 'collapsed-header', false: ''}[collapsed]">
          {{e.name}} </h2>
        <h3 ng-class="{true: 'collapsed-time', false: ''}[collapsed]">
          {{e.start_time | date: 'EEE MMM d, h:mma'}}</h3>
        <h3 ng-hide="collapsed" ><!--ng-class="{true: 'collapsed-hidden', false: ''}[collapsed]"-->
          {{e.place.name}}</h3>
        <p ng-hide="collapsed">
          {{e.description}}</p>
        <div class="files" ng-hide="collapsed" ng-repeat="file in $parent.userFiles | fileFilter:e">
          <a ng-href="{{file.fileUrl}}">{{file.nickname}}</a>
        </div>
        <div class="add-file" ng-show="fileform">
          <form ng-submit="addFile(e)">
            <label for="nickname">File Nickname: </label>
              <input type="text" name="nickname" ng-model="nickname">
            <label for="fileUrl">File URL: </label>
              <input type="text" name="fileUrl" ng-model="fileUrl">
            <input type="submit" ng-click="fileform = false">
          </form>
        </div>
        <div ng-hide="collapsed" class="links">
          <a  class="link fb-link clearfix"
            href="https://www.facebook.com/events/{{e.id}}">Visit Facebook Event Page</a>
          <a class="link form-link" ng-click="fileform = true" ng-hide="fileform">Add A File</a>
          <a class="link form-link" ng-click="fileform = false" ng-show="fileform">Hide Form</a>
        </div>
      </div>
    </main>
    <footer>
      <hr>
      <p>Created by Paul Cullen Rowe<span class="links">
        <a href="https://github.com/prowe214/"><i class="ion-social-github"></i></a>
        <a href="https://www.linkedin.com/in/paulcullenrowe"><i class="ion-social-linkedin"></i></a>
        <a href="https://twitter.com/prowe214"><i class="ion-social-twitter"></i></a>
      </span></p>
    </footer>
  </body>
</html>
